$bg : #001935 ;
$post-bg : #888;
$font-color : #000;
@mixin self_center() {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.row {
    display: flex;
}
.likescont{
    width: 70%;
}
.posts {
    width: 80vw;
    margin-right: 5%;
    .h1{
        color: RGB(255, 255, 255);
        font-family: "Favorit", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 1.333;
        margin: 0 10px;
        margin-bottom: 20px;
    }
    .post{
        border: 3px solid $bg;
        margin-bottom: 15px;
        position: relative;
        .logo {
            width: 64px;
            height: 64px;
            margin-right: 20px;
            background-color: $post-bg;

            position: -webkit-sticky;
            position: sticky;
            top: 55px;
            .limg{
                width: 64px; 
                height: 64px;
                display: block;
            }
        }
        .postDatailes {
            width: 100%;
        }
    }
    .NothingAvailable{
        color: rgba(255, 255, 255,.65);
        font-family: "Favorit", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
    }
    .navigateBtns {
        height: 100px;
        justify-content: space-around;
        .nextBtn{
            justify-content: flex-start;
            width: 52px;
            background-color: #00B8FF;
            height: 25px;
            color: white;
            border-radius: 3px;
            font-size: 10px;
        }
        .previousBtn{

            width: 77px;
            background-color: #A6AFB8;
            height: 25px;
            color: white;
            border-radius: 3px;
            font-size: 10px;
        }
    }
}
@media (max-width : 990px ) {
    .posts,.likescont{
        width: 80vw;
        margin: 0 auto;
    }
}
@media (max-width : 600px ) {
    .posts,.likescont{
        margin: 0;
        width: 100%;
        align-items: center;
    }
}