.container{
    background: RGB(255, 255, 255);
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    .a{
        width: 100%;
        display: block;
        height: 100%;
        position: absolute;
        cursor: pointer;
        text-decoration: none;
    }
    .side{
        word-wrap: break-word;
        align-items: center;
        display: flex;
        flex-grow: 1;
        -webkit-hyphens: auto;
        hyphens: auto;
        line-height: 1.2;
        min-height: 43px;
        outline: none;
        overflow-wrap: break-word;
        padding: 8px 10px;
        text-decoration: none;
        vertical-align: middle;
        .sideSide{
            align-items: center;
            display: flex;
            .avatarContainer{
                margin-right: 11px;
                position: relative;
                .avatar{
                    position: relative;
                    width: 37px;
                    height: 37px;
                    .img{
                        width: 37px; 
                        height: 37px;
                        display: block;
                    }
                }
            }
            .titlesContainer{
                position: relative;
                cursor: pointer;
                text-decoration: none;
                .handle{
                    align-items: center;
                    display: flex;
                    font-family:"Favorit", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
                    font-size: .875rem;
                    font-weight: 700;
                    line-height: 1.5;
                    color: RGB(0,0,0);
                    text-align: left;
                    word-break: break-word;
                    .handleSpan{
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 1;
                        display: -webkit-box;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    .svgDiv{
                        margin-left: 5px;
                        .svg{
                            fill: RGB(0, 207, 53);
                        }
                    }
                }
                .title{
                    color: rgba(0,0,0,.65);
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 1;
                    display: -webkit-box;
                    font-family: "Favorit", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
                    font-size: .875rem;
                    font-weight: 400;
                    line-height: 1.5;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    text-align: left;
                    word-break: break-word;
                }
            }
        }
    }
    .sideSelect{
        align-items: center;
        display: flex;
        padding-right: 14px;
        position: relative;
        text-align: right;
        .list{
            align-items: center;
            display: flex;
            justify-content: center;
            .follow{
                .followspan{
                    color: RGB(0, 184, 255);
                    font-family: "Favorit", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
                    font-size: .875rem;
                    font-weight: 700;
                    line-height: 1.5;
                    text-decoration: none;
                    display: block;
                }
            }
            .span1{
                vertical-align: top;
                .span2{
                    vertical-align: top;
                    .button{
                        background-color: transparent;
                        border: none;
                        color: inherit;
                        cursor: pointer;
                        margin: 0;
                        padding: 0;
                        -webkit-user-select: none;
                        -moz-user-select: none;
                        user-select: none;
                        .buttonSpanC{
                            display: block;
                            pointer-events: none;
                           .buttonSpan{
                                margin-right: -10px;
                                padding: 0 10px;
                                pointer-events: none;
                               .Buttonsvg{
                                transform: rotate(90deg);
                                fill:rgba(0,0,0,.65);
                                pointer-events: none;
                               }
                           }
                        }
                    }
                }
                .dropDown{
                    left: 0;
                    position: absolute;
                    top: 0;
                    width: 100%;
                    z-index: 2;
                    display: none;
                    .dropDownContainer{
                        position: absolute;
                        will-change: transform;
                        width: 200px;
                        height: auto;
                        top: 0px;
                        left: 0px;
                        transform: translate3d(-88px, 48px, 0px);
                        overflow-y: visible;
                        background: white;
                        border-radius: 3px;
                        box-shadow: 0 0 15px 0 rgb(0 0 0 / 50%);
                        color: black;
                        max-height: calc(100vh - 88px);
                        .anotherContainer{
                            align-items: center;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            .report,.block,.close{
                               color:red;
                               box-sizing: border-box;
                               justify-content: center;
                               width: 100%;
                               font-family: "Favorit", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
                               font-size: 1rem;
                               font-weight: 700;
                               line-height: 1.5;
                               align-items: center;
                               cursor: pointer;
                               display: flex;
                               flex-direction: row;
                               padding: 10px;
                               text-decoration: none;
                            }
                            .close{
                                color:black;
                                font-weight: 400;
                            }
                        }
                    }
                }
            }
        }
    }
}
.container:hover{
    background-color:  gray;
}