*{
    box-sizing: border-box;
}

.parent {
    // min-height:  6000px; 
    background-color: #001935; 
}

.Navbar {
    height : 50px; 
    background-color: #888;
    text-align: center;
    margin-bottom: 50px;
    border: 3px solid #001935;
}
.row {
    display: flex;
}
.container {
    width: 1170px;
    margin: 0 auto;
}

.mainClass {
    background-color: #001935;
    .posts {
        width: 60%;
        margin-right: 5%;
        .insertPost{
            height: 100px;
            border: 3px solid #001935;
            margin-bottom: 15px;
            .insertLogo {
                width: 64px;
                height: 64px;
                margin-right: 20px;
                background-color: #888;
            }
            .insertPostDetails {
                background-color: #888;
                width: 100%;
            }
        }
        .post{
            border: 3px solid #001935;
            margin-bottom: 15px;
            position: relative;
            .logo {
                width: 64px;
                height: 64px;
                margin-right: 20px;
                background-color: #888;

                position: -webkit-sticky;
                position: sticky;
                top: 0;
            }
            .postDatailes {
                background-color: #888;
                width: 100%;
            }
        }
        .navigate-btns {
            height: 100px;
            justify-content: space-around;
            .next-btn{
                justify-content: flex-start;
                width: 52px;
                background-color: #00B8FF;
                height: 25px;
                color: white;
                border-radius: 3px;
                font-size: 15px;
            }
            .previous-btn{

                width: 77px;
                background-color: #A6AFB8;
                height: 25px;
                color: white;
                border-radius: 3px;
                font-size: 15px;
            }
        }
    }
    .explore {
        width: 35%;
        height: 1000px;
        justify-content:right;
        .checkBlogs{
            height: 200px;
            background-color: #888;
            border: 3px solid #001935;
        }
        .radar{
            height: 200px;
            background-color: transparent;
            border: 3px solid #001935;
            background-color: #888;
        }
    }
}





