.explore-navbar {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid white;
  align-items: center;
  min-width: 533px;
  margin-bottom: 20px;
  .grid-icons {
    cursor: pointer;
    margin-left: 5px;
  }
  .more-list {
    position: absolute;
    left: -50%;
    width: 150px;
    background-color: white;
    border-radius: 4px;
    top: 55px;
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      &:hover {
        background-color: #8080804a;
      }
      a {
        color: black;
      }
    }
  }
  .hide {
    display: none;
  }
  .explore-selection {
    display: flex;
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
    font-family: sans-serif;
    width: 50%;

    span {
      padding: 12px;
      cursor: pointer;
      display: block;
      z-index: 10;
      white-space: nowrap;
      &:hover {
        background-color: #e5e3e32e;
      }
    }
  }
}
