.contanier {
  display: flex;
  margin-top: 40px;
  padding-top: 40px;
  justify-content: center;
  gap: 20px;
  min-width: 700px;
  .leftSide {
    background-color: rgb(0, 25, 53);
    width: 70%;
    max-width: 700px;
    border-radius: 5px;
  }
  .asideBar {
    width: 20%;
    max-width: 300px;
  }
} 
@media (max-width: 960px) {
  .contanier{
    .asideBar {
     display: none;
    }
    .leftSide {
      width: 100%;
    }
 }
}


  