$bg : #001935 ;
$post-bg : #888;
$font-color : #000;


*{
    box-sizing: border-box;
    color: $font-color;
}

.parent {
    width: 100vw;
    background-color: $bg; 
}

.Navbar {
    height : 50px; 
    width: 100%;
    background-color: #888;
    text-align: center;
    margin-bottom: 50px;
    border: 3px solid $bg;
}
.row {
    display: flex;
}
.container {
    width: 1170px;
    margin: 0 auto;
}

.mainClass {
    background-color: $bg;
    .posts {
        width: 60%;
        margin-right: 5%;
        .insertPost{
            height: 100px;
            border: 3px solid $bg;
            margin-bottom: 15px;
            .insertLogo {
                width: 64px;
                height: 64px;
                margin-right: 20px;
                background-color: $post-bg;
            }
            .insertPostDetails {
                background-color: $post-bg;
                width: 100%;
            }
        }
        .post{
            border: 3px solid $bg;
            margin-bottom: 15px;
            position: relative;
            .logo {
                width: 64px;
                height: 64px;
                margin-right: 20px;
                background-color: $post-bg;

                position: -webkit-sticky;
                position: sticky;
                top: 0;
            }
            .postDatailes {
                background-color: $post-bg;
                width: 100%;
            }
        }
        .navigate-btns {
            height: 100px;
            justify-content: space-around;
            .next-btn{
                justify-content: flex-start;
                width: 52px;
                background-color: #00B8FF;
                height: 25px;
                color: white;
                border-radius: 3px;
                font-size: 10px;
            }
            .previous-btn{

                width: 77px;
                background-color: #A6AFB8;
                height: 25px;
                color: white;
                border-radius: 3px;
                font-size: 10px;
            }
        }
    }
    .explore {
        width: 35%;
        height: 1000px;
        justify-content:right;
        .checkBlogs{
            height: 200px;
            background-color: $post-bg;
            border: 3px solid $bg;
        }
        .radar{
            height: 200px;
            border: 3px solid $bg;
            background-color: $post-bg;
        }
    }
}

@media only screen and (max-width : 990 ) {
    
    .explore {
        display: none;
    }

}