$bg : #001935 ;
$post-bg : #888;
$font-color : #000;
@mixin self_center() {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.x{
    top: 100px;
    position: relative;
}
.parent {
    background-color: $bg; 
    box-sizing: border-box;
    color: $font-color;
}
.Navbar {
    width: 100%;
    height : 55px; 
    background-color: $bg;
    text-align: center;
    margin-bottom: 50px;
    border: 3px solid $bg;
}
.row {
    display: flex;
}
.container {
    width: 70%;
    margin: 0 auto;
}

.mainClass {
    background-color: $bg;
    .posts {
        width: 60%;
        margin-right: 5%;
        .insertPost{
            height: 100px;
            border: 3px solid $bg;
            margin-bottom: 15px;
            .insertLogo {
                width: 64px;
                height: 64px;
                margin-right: 20px;
                background-color: $post-bg;

                position: -webkit-sticky;
                position: sticky;
                top: 50px;
                .avatar {
                    width: 100%;
                    height: 100%;
                }
            }
            .insertPostDetails {
                width: 100%;
            }
        }
        .post{
            border: 3px solid $bg;
            margin-bottom: 15px;
            position: relative;
            .logo {
                width: 64px;
                height: 64px;
                margin-right: 20px;
                background-color: $post-bg;

                position: -webkit-sticky;
                position: sticky;
                top: 55px;
                .avatar {
                    width: 100%;
                    height: 100%;
                }
            }
            .postDatailes {
                width: 100%;
            }
        }
        .navigate_btns {
            height: 100px;
            justify-content: space-around;
            .next_btn{
                justify-content: flex-start;
                width: 52px;
                background-color: #00B8FF;
                height: 25px;
                color: white;
                border-radius: 3px;
                font-size: 10px;
            }
            .previous_btn{

                width: 77px;
                background-color: #A6AFB8;
                height: 25px;
                color: white;
                border-radius: 3px;
                font-size: 10px;
            }
        }
    }
    .explore {
        width: 35%;
        .checkBlogs{
            min-height: 200px;
            background-color: $bg;
            color: white;
            .exploreBlog{
                width: 100%;
                margin-bottom: 15px;
                padding: 10px;
                &:hover {background: #001D61;}
                .blogAvatar{
                    width: 37px;
                    height: 37px;
                    margin-right: 30px;
                    cursor: pointer;
                }
                .blogTitle{
                    width: 50%;
                    margin-right: 10px;  
                    .p{
                        cursor: pointer;
                        font-size: 13px;
                    }
                }
                .blogFollow{
                    width: 20%;
                    margin-right: 10px;
                    position: relative;
                    cursor: pointer;
                    .follow{
                        font-size: 15px;
                        @include self_center();
                    }
                }
                .blogExit{
                    width: 10%;
                    margin-right: 10px;
                    position: relative;
                    cursor: pointer;
                    .exit{
                        font-weight: bold;
                        font-size: 20px;                        
                        @include self_center();
                    }
                }
            }
        }
        .radar{
            .white{
                color: #fff;
            }
            hr{
                height: 1px;
            }
            border: 3px solid $bg;
            // background-color: $post-bg;
        }
    }
}
@media (max-width : 990px ) {
    .mainClass {
        .container {
            width: 500px;
            margin: 0 auto;
        }
        .explore {
            visibility: hidden;
            width: 0%;
        }
        .posts{
            width: 80vw;
            margin: 0 auto;
        }
    }
}
@media (max-width : 600px ) {
    .mainClass {
        width: 100%;
        .container{
            width: 100%;
            margin: 0;
        }
        .posts{
            margin: 0;
            width: 100%;
            align-items: center;
        }
    }
}