

body{
    min-width: 500px;
}
.explore-container{
    width: 100% ;
    border-top: 1px solid white;
    display: flex;
    justify-content: flex-end;
}


@media (max-width: 990px) {
    .explore-container{
        justify-content: center;
        border: none;
    }
  }