@mixin before_content($counter_name: even-numbers) {
  content: counter($counter_name);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: red;
  top: 10%;
  left: 4%;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  color: black;
}

.trending-list {
  li {
    font-size: 20px;
    font-family: sans-serif;
    color: white;
    position: relative;
    width: 300px;
    height: 88px;
    display: flex;
    justify-content: flex-end;
    background-color: rgba(232, 215, 56, 0.25);
    border-radius: 4px;

    & > :first-child {
      display: flex;
      padding: 10px;
      width: 80%;
      justify-content: space-between;
      & > :nth-child(1) {
        display: flex;
        flex-direction: column;
        div {
          margin-bottom: 5px;
        }
      }
    }

    img {
      width: 100%;
      height: 100%;
      border-radius: 4px;
    }
  }
  overflow-x: scroll;
  display: flex;
  flex-direction: column;
  position: relative;
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    width: 0;
    background-color: transparent;
  }
  .odd-items {
    margin-bottom: 15px;
    display: flex;
    counter-reset: odd-numbers -1;
    list-style-type: none;
    &::-webkit-scrollbar {
      width: 0;
      background-color: transparent;
    }
    li {
      flex-shrink: 0;
      margin-right: 15px;
      counter-increment: odd-numbers 2;
      &::before {
        @include before_content(odd-numbers);
      }
    }
  }
  .even-items {
    counter-reset: even-numbers 0;
    list-style-type: none;
    display: flex;
    &::-webkit-scrollbar {
      width: 0;
      background-color: transparent;
    }
    li {
      flex-shrink: 0;
      margin-right: 15px;
      counter-increment: even-numbers 2;
      &::before {
        @include before_content();
      }
    }
  }
}
