.container{
    align-items: center;
    background-color: rgba(255, 255, 255,.07);
    border-radius: 3px;
    color: rgba(255, 255, 255,.65);
    display: flex;
    flex-direction: column;
    font-family: "Favorit", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
    font-size: 1.3125rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1.5238;
    padding-top: 100px;
    text-align: center;
    width: 580px;
    height: 356px;
    float: right;
    .svg{
        width: 100px;
        height: 100px;
        fill: rgba(255, 255, 255, 0.65);
        overflow: hidden;
    }
    .learn{
        font-family: "Favorit", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        .a{
            color: rgba(255, 255, 255,.4);
            text-decoration: none;
        }
    }
}