* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #001935;
}

.nav-bar {
  display: flex;
}

.nav-bar-slot {
  display: flex;
  flex-direction: column;
  color: white;
  text-transform: capitalize;
  border-bottom: 1px solid gray;
  font: 20px sans-serif;
  padding: 7px;
  cursor: pointer;
}

.nav-bar-slot:hover{
    background-color: #53515185;
    
}

.nav-bar-slot > div:nth-child(2) {
  font: 13px sans-serif;
  color: gray;
  margin-top: 3px;
}
