* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #001935;
}

.nav-bar {
  display: flex;
}

.nav-bar-slot {
  display: flex;
  flex-direction: column;
  color: white;
  text-transform: capitalize;
  border-bottom: 1px solid gray;
  font: 20px sans-serif;
  padding: 7px;
  cursor: pointer;
}

.nav-bar-slot:hover {
  background-color: #53515185;
}

.blogs {
  margin-top: 20px;
  color: white;
  font: 20px sans-serif;
  border-bottom: 3px solid #ffffff29;
  padding: 7px;
}

.nav-bar-slot > div:nth-child(2) {
  font: 13px sans-serif;
  color: gray;
  margin-top: 3px;
}

a:nth-child(4) > div {
  border-bottom: none;
}

.blog-slot {
  display: flex;
  border-bottom: 1px solid gray;
}

.blog-slot > div {
  display: flex;
  flex-direction: column;
  color: white;
  font: 20px sans-serif;
  padding: 7px;
}

.small-text {
  font: 13px sans-serif;
  color: gray;
  margin-top: 3px;
}

a.small-text {
  padding: 7px;
}
