



/*
    button variables 
*/
$button-border-radius: 5px;
$button-padding: 5px;
$button-font-size: 15px;
$button-margin-right: 5px;
$button-margin-bottom: 15px;
$button-color:white ; 
$button-height:30px;
$cancel-button-background:gray;
$button-background:#00bcd4;

/*
    input vars  
*/


$input-margin-bottom: 15px;
$input-top-bottom-padding: 5px;
$input-left-right-padding: 5px;
$input-font-size: 14px;
$input-opacity: 0.5;
$input-margin-right: 5px;



/*

 header vars -- Accoutnt dashborad etc..
*/



$header-color: #7e7c7c85;
$header-font-family: sans-serif;
$header-padding: 10px;
$header-font-weight: 100;


/*
title 
*/

$title-width: 15%;
$title-margin-right: 2%;



/*
 hr vars 
*/





