@import "./variables";

@mixin displayFlex($flex-direction: row) {
  display: flex;
  @if ($flex-direction==column) {
    flex-direction: column;
    //  it could be flex-direction:$flex-direction without if
    // but if the direction is row it will put flex-direction:row in the css file
    // it is the default so it should not be written and @if will not write it in the file
  }
}

.account-container {
  @include displayFlex(column);
  background-color: white;
  width: calc(100% - 40px);
  margin: 0 auto;
}

.change-email-section,
.password-box,
.security-box,
.filtering-section {
  @include displayFlex();
  margin-bottom: 10px;
  position: relative;
}
/* should be in a general place 
     and should have one name for exapmple section-box 
     and given to all the boxes 
  */

.input-fields {
  @include displayFlex(column);
  width: 70%;
  position: relative;
}

input {
  display: block;
  margin-bottom: 15px;
  padding: 5px 4px;
  font-size: 14px;
  opacity: 0.5;
  outline: none;
  margin-right: 5px;
}

input[type="checkbox"] {
  display: inline;
}

.cancel-button {
  width: fit-content;
  height: $button-height;
  background-color: $cancel-button-background;
  color: $button-color;
  border-radius: $button-border-radius;
  padding: $button-padding;
  font-size: $button-font-size;
  margin-right: $button-margin-right;
  margin-bottom: $button-margin-bottom;
  cursor: pointer;
}

.save-button,
.add-button {
  @extend .cancel-button;
  background-color: #00bcd4;
}

.header {
  color: #7e7c7c85;
  font-family: sans-serif;
  padding: 10px;
  font-weight: 100;
}
/* should be in a general place  */

.title {
  width: 15%;
  margin-right: 2%;
}

hr {
  margin-bottom: 10px;
  border: none;
  height: 1px;
  background-color: #dad8d8;
}

.security-section,
.security-description {
  @include displayFlex(column);
}

.security-section {
  width: 80%;
}

.icon-photo {
  width: 15px;
  height: 15px;
  position: absolute;
  right: 0;
}

.hidden,
.tags-filter-box,
.posts-filter-box {
  display: none;
}

.before-focus-on-edit {
  border: none;
}

.dots {
  span {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: black;
    display: inline-block;
    margin-right: 1px;
  }
}

.user-message {
  color: gray;
  font-size: 1.2rem;
}

.section-message {
  font: 300 1.6rem sans-serif;
  color: #000000b5;
  margin-bottom: 15px;
  margin-top: 5px;
}

.filter-message {
  color: gray;
  display: inline-block;
  margin-bottom: 15px;
}

.anchor {
  text-decoration: underline;
  color: inherit;
}

.error-email-message,
.error-password-message,
.error-current-password,
.error-new-password,
.error-confirm-password {
  visibility: hidden;
  position: absolute;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: red;
  color: white;
  font-family: sans-serif;
  border-radius: 4px;
  right: -40%;
  text-align: center;
  transition: 0.5s 0.1s linear;
  padding: 5px;
}

.error-password-message {
  bottom: 53%;
  right: -67%;
}

.error-current-password {
  right: -71.5%;
}

.error-new-password {
  top: 25%;
  right: -60%;
}

.error-confirm-password {
  top: 50%;
  right: -65%;
}

.delete-account-button {
  margin: 20px 0;
  border: 1px solid gray;
  color: gray;
  padding: 7px;
  border-radius: 4px;
  cursor: pointer;
  &:hover {
    background-color: #e60000a6;
    color: white;
    border: none;
  }
}

