/*
    button variables 
*/
/*
    input vars  
*/
/*

 header vars -- Accoutnt dashborad etc..
*/
/*
title 
*/
/*
 hr vars 
*/

body {
  overflow: scroll !important;
  -ms-overflow-style: none !important; /* IE and Edge */
  scrollbar-width: none !important; /* Firefox */
}
body::-webkit-scrollbar {
  display: none !important;
}
a {
  text-decoration: none;
}

.before-focus-on-edit {
  border: none;
}

.account-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: calc(100% - 40px);
  margin: 0 auto;
}
.account-container input {
  -webkit-appearance: auto;
  border: 1px solid gray;
}

.change-email-section,
.password-box,
.security-box,
.filtering-section {
  display: flex;
  margin-bottom: 10px;
  margin-left: 10px;
  position: relative;
}

/* should be in a general place 
     and should have one name for exapmple section-box 
     and given to all the boxes 
  */
.input-fields {
  display: flex;
  flex-direction: column;
  width: 70%;
  position: relative;
}

.input-box {
  display: block;
  margin-bottom: 15px;
  padding: 5px 5px;
  font-size: 14px;
  opacity: 0.5;
  outline: none;
  margin-right: 5px;
}

input[type="checkbox"] {
  display: inline;
}

.cancel-button,
.save-button,
.add-button {
  width: fit-content;
  height: 30px;
  background-color: gray;
  color: white;
  border-radius: 5px;
  padding: 5px;
  font-size: 15px;
  margin-right: 5px;
  margin-bottom: 15px;
  border: none;
  cursor: pointer;
}

.save-button,
.add-button {
  background-color: #00bcd4;
}

.header {
  color: #7e7c7c85;
  font-family: sans-serif;
  padding: 10px;
  font-weight: 100;
}

/* should be in a general place  */
.title {
  width: 15%;
  margin-right: 2%;
  font: bold 100% sans-serif;
}

hr {
  margin-bottom: 10px;
  border: none;
  height: 1px;
  background-color: #dad8d8;
}

.security-section,
.security-description {
  display: flex;
  flex-direction: column;
}

.security-section {
  width: 80%;
}

.icon-photo {
  width: 15px;
  height: 15px;
  position: absolute;
  right: 0;
  cursor: pointer;
}

.hidden,
.tags-filter-box,
.posts-filter-box {
  display: none;
}

.dots {
  margin-left: 5px;
  margin-top: -5px;
}
.dots span {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: black;
  display: inline-block;
  margin-right: 1px;
}

.user-message {
  color: gray;
  font-size: 0.8rem;
}

.section-message {
  font: 300 1rem sans-serif;
  color: #000000b5;
  margin-bottom: 15px;
  margin-top: 5px;
}

.filter-message {
  color: gray;
  display: inline-block;
  margin-bottom: 15px;
}

.anchor {
  text-decoration: underline;
  color: inherit;
}

.error-email-message,
.error-password-message,
.error-current-password,
.error-new-password,
.error-confirm-password {
  visibility: hidden;
  white-space: nowrap;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: red;
  color: white;
  font-family: sans-serif;
  border-radius: 4px;
  right: -40%;
  text-align: center;
  transition: 0.5s 0.1s linear;
  padding: 5px;
}

.error-password-message {
  bottom: 53%;
  right: -67%;
}

.error-current-password {
  right: -71.5%;
}

.error-new-password {
  top: 25%;
  right: -60%;
}

.error-confirm-password {
  top: 50%;
  right: -65%;
}

.delete-account-button {
  margin: 20px 0;
  border: 1px solid gray;
  color: gray;
  padding: 7px;
  border-radius: 4px;
  cursor: pointer;
}
.delete-account-button:hover {
  background-color: #e60000a6;
  color: white;
  border: none;
}

[data-testid="email-box"],
[data-testid="password-box"] {
  width: calc(100% - 4px);
  flex-shrink: 0;
}
