.account-container{
    display: flex;
    background-color: white;
    flex-direction: column;
    width: calc(100% - 40px);
    margin: 0 auto;
}

.email-box,.password-box,.security-box{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.input-fields{
    display: flex;
    flex-direction: column;
    width: 50%;
}

input{
    display: block;
    margin-bottom: 15px;
    padding: 5px 4px;
    font-size: 18px;
    opacity: .5;
    outline: none;
}

input[type="checkbox"]{
    display: inline;
}

.pen-icon{
    background-image: url("../../assets/Images/pen-filled-diagonal-writing-tool.png");
}

#cancel-button{
    width: fit-content;
    height: fit-content;
    background-color: gray;
    color: white;
    border-radius: 5px;
    padding: 8px;
    font-size: 20px;
    margin-right: 5px;
}

#save-button{
    
    width: fit-content;
    height: fit-content;
    background-color: #00bcd4;
    color: white;
    border-radius: 5px;
    padding: 8px;
    font-size: 20px;
    margin-right: 5px;
}

h1{
    color: #7e7c7c85;
    font-family: sans-serif;
    padding-bottom: 10px;
    font-weight: 100;
}

.title{
    width: 15%;
}

hr{
    margin-bottom: 10px;
    border: none;
    height: 1px;
    background-color: #dad8d8;
}

.security-section,.security-description{
    display: flex;
    flex-direction: column;
}

.security-section{
    width: 80%;
}