.contanier{
    display: grid;
    width: 60%;
    margin:40px auto;
    grid-template-columns: 1fr 300px;
    gap: 20px ;
    
    
}

.aside-bar{
    grid-column: 2/span 1;
}

.left-side{
    background-color: white;
}

.account{
    background-color: white;
    border-radius: 4px;
}

@media (max-width:1000px) {
    .contanier{
        grid-template-columns: 1fr 30%;
        width: calc(100% - 20px);
        min-width: 300px;
        margin: 0 auto;
    }
}