.contanier {
  display: flex;
  margin-top: 40px;
  justify-content: center;
  gap: 20px;
  min-width: 700px;
  
 
}

.aside-bar {
  width: 20%;
  max-width: 300px;
  
}

.left-side {
  background-color: white;
  width: 60%;
  max-width: 700px;
  border-radius: 5px;
  
}

.account {
  background-color: white;
  border-radius: 4px;
}



@media (max-width: 1000px) {
  .contanier {
   
  }
}
