.row {
    display: flex;
}
.Chat {
    position: absolute;
    bottom: 0;
    right: 50px;
    width: 280px;
    // height: 350px;
    background-color: aliceblue;
    z-index: 5;
}
.Chat_header{
    align-items: center;
    height: 45px;
    background-color: aqua;
}
.Chat_content{
    height: 230px   ;
    background-color: white;
}
.Chat_footer{
    .text {
       height: 33px;
       overflow-y: auto;
       width: 100%;
    }
    .send{
        height: 20px;
        margin-top: 0;
    }
}