$main-padding: 6px;
$main-font: 15px;
$small-text-font: 13px;
$slot-border-thickness: 1px;
$main-color: white;
$background-on-hover: #53515185;

/*
user img 
*/

$user-img-dim: 37px;
$user-img-margin-right: 10px;
$user-img-border-radius: 5px;



