@import 'config';

.page{
    display: flex;
    justify-content: flex-end;
}
.blogview{
    width:600px;
    background-color: #fff;
}
.background{
    height:260px;
    background-color:$background-color;
    color:#fff;
    .background-container{
        width:98%;
        height:50px;
        padding:10px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        .background-container-1{
            display: flex;
            align-items: center;
            .close{
                svg{
                    width: 60%;
                    height: 100%;
                }
                height: 100%;
                width:30px;
                cursor: pointer;
            }
            .username{
                margin-left: 5px;
                :hover span {
                    display: none
                  }
                :hover:before {
                    content: "username.tumblr.com"
                }
            }

        }
        .background-container-2{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width:100px;
            .share,.dots{
                width:30px;
                height: 100%;
                cursor: pointer;
                margin:-10px
            }
            a{
                width: 30px;
                height: 100%;
            }
            .dotsDrop{
                width:200px;
                display: flex;
                flex-direction: column;
                border-radius: 3px;
                background-color: #fff;
                color:#000;
                border-radius: 3px;
                overflow: hidden;
                position: absolute;
                top: 6%;
                right: 1rem;
                z-index: 999;
                span{
                    width:100%;
                    padding: 10px;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    font-weight: 700;
                    font-size:1rem;
                }
                :hover{
                    background-color: $hover-color;
                }
            }
            .shareDrop{
                width:250px;
                display: flex;
                flex-direction: column;
                border-radius: 3px;
                background-color: #fff;
                color:#000;
                border-radius: 3px;
                overflow: hidden;
                position: absolute;
                top: 6%;
                right: 1rem;
                z-index: 999;
                span{
                    width:100%;
                    padding: 10px;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    font-weight: 500;
                }
                :hover{
                    background-color: $hover-color;
                }
            }
        }
    }
}
.blogview-posts{
    background-color: #fff;
    .blogview-posts-container{
        width: 90%;
        margin:auto;
        .post{
            border: 3px solid $bg;
            margin-bottom: 15px;
            position: relative;
            .postDatailes {
                width: 100%;
            }
        }
    }
}