/*
    icon-photo
*/

$icon-photo-dim: 15px;
// icon photo-dimension

/*
    button variables 
*/
$button-border-radius: 5px;
$button-padding: 5px;
$button-font-size: 15px;
$button-margin-right: 5px;
$button-margin-bottom: 15px;
$button-color: white;
$button-height: 30px;
$cancel-button-background: gray;
$button-background: #00bcd4;

$input-margin-bottom: 15px;
$input-top-bottom-padding: 5px;
$input-left-right-padding: 5px;
$input-font-size: 14px;
$input-opacity: 0.5;
$input-margin-right: 5px;
