
/*
    icon-photo
*/

$icon-photo-dim: 15px;
// icon photo-dimension


/*
    button variables 
*/
$button-border-radius: 5px;
$button-padding: 5px;
$button-font-size: 15px;
$button-margin-right: 5px;
$button-margin-bottom: 15px;
$button-color:white ; 
$button-height:30px;
$cancel-button-background:gray;
$button-background:#00bcd4;

