* {
    margin: 0;
    padding: 0;
  }
  
  :root {
    --main-padding: 20px;
    --main-font: 1.6rem;
    --small-text-font: 13px;
    --slot-border-thickness: 1px;
    --main-color: white;
    --background-on-hover: #53515185;
  }
  
  body {
    background-color: #001935;
  }
  
  .nav-bar {
    display: flex;
  }
  
  .nav-bar-slot,.nav-bar-first  {
    display: flex;
    flex-direction: column;
    color: var(--main-color);
    text-transform: capitalize;
    font:var(--main-font) sans-serif;
    padding: var(--main-padding);
    cursor: pointer;
  }
  
  .nav-bar-slot,.nav-bar-first > div {
    margin-bottom: 3px;
  }
  
  .nav-bar-slot:hover {
    background-color: var(--background-on-hover);
  }
  
  .blogs {
    margin-top: 20px;
    color: var(--main-color);
    font: bold var(--main-font) sans-serif;
    border-bottom: 3px solid #ffffff29;
    padding: var(--main-padding);
  }
  
  .nav-bar-slot > div:nth-child(2) {
    font: var(--small-text-font) sans-serif;
    color: gray;
    margin-top: 3px;
  }
  .nav-bar-first > div:nth-child(2) {
    font: var(--small-text-font) sans-serif;
    color: gray;
    margin-top: 3px;
  }
  
  a:nth-child(4) > div {
    border-bottom: none;
  }
  
  .blog-slot {
    display: flex;
    border-bottom: var(--slot-border-thickness) solid gray;
  }
  
  .blog-slot:hover {
    background-color: var(--background-on-hover);
  }
  
  .blog-slot > div {
    display: flex;
    justify-content: flex-start;
    color: var(--main-color);
    font: bold var(--main-font) sans-serif;
    padding: var(--main-padding);
    height: 62px;
    align-items: center;
  }
  
  .small-text {
    font: var(--small-text-font) sans-serif;
    color: gray;
    margin-top: 3px;
  }
  
  a.small-text {
    padding: var(--main-padding);
  }
  
  .user-img {
    width:37px;
    height: 37px;
    margin-right:10px;
    object-fit: cover;
    border-radius: 5px;
  }
  .nav-bar-first{
      cursor: auto;
  }  
