/* you should arrange these classes to have one css file  */
.dashboard-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: calc(100% - 40px);
  margin: 0 auto; }

/* this class and account-conatiner should be put in css file of the settings page 
     it should be general
  */
.header {
  color: #7e7c7c85;
  font-family: sans-serif;
  padding: 10px;
  font-weight: 100; }

.section {
  display: flex;
  margin-bottom: 10px;
  position: relative;
  margin-left: 10px; }

.title {
  width: 17%;
  margin-right: 2%;
  flex-shrink: 0; }

.section-form {
  display: flex;
  flex-direction: column; }

.description {
  display: flex;
  flex-direction: column; }

.section-message {
  font: 300 1rem sans-serif;
  color: #000000b5;
  margin-bottom: 15px;
  margin-top: 5px; }

.user-message {
  color: gray;
  font-size: 0.9rem; }

.input-box {
  display: block;
  margin-bottom: 15px;
  padding: 5px 5px;
  font-size: 14px;
  opacity: 0.5;
  outline: none;
  margin-right: 5px; }
