$background-color: #001935;
$searchbar-color: #405368;
$icons-color:#A5AEB8;
$placeholder-color:#BCC3CA;
$newpost-color:#00B8FF;
$smile-color:#595959;
$dropdown-profile-background-color:#EDEDED;
$dropdown-profile-icons-color:#505152;
$dropdown-profile-hover-color:#E5E7EA;
$max-width:970px;