@import'config';

.list{
    background-color: $background-color;
    padding-top:55px;
    @media screen and (min-width:$max-width){
        display: none;
    }
    
    .new-post{
        
        display: flex;
        justify-content: center;
        align-items: center;
        a{
            display: flex;
            background-color: $newpost-color;
            font-size: 20px;
            width: 200px;
            height: 40px;
            justify-content: center;
            align-items: center;
            border-radius: 7px;
            svg{
                margin-right: 15px;
            }
        }
    }
    


    .list-icons ul{
        @media screen and (max-width:$max-width){
            display: flex;
            flex-direction: column;
            justify-content: center;

            a{
                margin-top:5px;
                width:90%;
                height: 50px;
                min-height: 41px;
                font-size: 20px;
                font-weight: 380;
                display: flex;
                align-items: center;
                svg{
                    margin-right:20px;
                    margin-left: 20px;
                }
            }

        }
    }   

   .blog-word{
       color:#fff;
       font-size: 25px;
       font-weight: 300;
       line-height: 1.3;
       padding:5px 10px 5px 12px;
   }

    .blogs{
        display: flex;
        flex-direction: column;

        ul{
            display: flex;
            flex-direction: column;
            margin: 0 75px 0 50px;
            a{
                font-size: 17px;
                font-weight: 400;
                color:#fff;
                padding:6px 0 6px 10px;

            }
            a:hover{
                background-color:$searchbar-color;
            }
        }
        
    }
    .links{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding:20px 10px 0;
        a{
            font-size:11px;
            font-weight: 200;
            padding:0 10px;
        }
        a:hover{
            text-decoration: underline;
        }

    }
}