@import "config";

a {
  color: #fff;
}

// body{
//     background-color: $background-color;
// }

.navbar {
  z-index: 10;
  background: $background-color;
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  position: fixed;
  //overflow: hidden;
  width: 100%;
  top: 0;
  .container {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 55px;
    justify-content: space-between;
    margin: auto;
    max-width: 1716px;
    padding-left: 22px;
    padding-right: 20px;
    width: 100%;
    @media screen and (max-width: $max-width) {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex: 1;
    }

    // left Container
    .container-1 {
      width: 518px;
      max-height: 54px;
      overflow: hidden;
      display: flex;
      align-items: center;
      @media screen and (max-width: $max-width) {
        margin: 0;
        justify-content: center;
        align-items: center;
        order: 2;
        height: 54px;
        width: 851px;
        .logo {
          width: 60px;
          padding: 10px;
          svg {
            width: 100%;
            height: 100%;
          }
        }
      }
      .logo {
        width: 38px;
        height: 100%;
        padding: 10px 18px 0 0;
        svg {
          width: 20px;
          height: 35px;
        }
      }
      .search-bar {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 480px;
        height: 35px;
        background-color: $searchbar-color;
        border-radius: 5px;
        overflow: hidden;
        // input:focus {
        // }
        input {
          align-items: center;
          background-color: inherit;
          font-size: 17px;
          padding: 0 0 0 0;
          border: none;
          outline: none;
          width: 90%;
          height: 100%;
        }
        ::placeholder {
          color: $placeholder-color;
        }
        &-icon {
          height: 100%;
          width: 10%;
          padding: 0.5rem;
          svg {
            color: $placeholder-color;
            width: 111%;
            height: 101%;
          }
        }

        @media screen and (max-width: $max-width) {
          display: none;
        }
      }
      .focus {
        background-color: #fff;
      }
    }

    // right Container
    .container-2 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 373px;

      .new-post-navbar {
        background-color: $newpost-color;
        border-radius: 3px;
        width: 46px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        a {
          display: flex;
          justify-content: center;
          align-items: center;
          color: #000;
          width: 100%;
          height: 100%;
          svg {
            width: 23px;
            height: 30px;
          }
        }
      }

      .icons {
        height: 32px;
        display: flex;
        align-items: center;
        position: relative;
        a {
          display: flex;
          justify-items: center;
          align-items: center;
          margin: 0 15px;
          color: $icons-color;
        }
        span {
          display: flex;
          justify-items: center;
          align-items: center;
          margin: 0 15px;
          color: $icons-color;
        }
        svg {
          height: 32px;
          width: 22px;
        }
        .inbox,
        .activity,
        .profile {
          position: relative;
          span {
            cursor: pointer;
          }
        }
      }

      @media screen and (max-width: $max-width) {
        display: none;
      }
    }
  }
}

// SMALL WINDOW ELEMENTS
.bars {
  display: none;
  @media screen and (max-width: $max-width) {
    display: inline-block;
    cursor: pointer;
  }
}

.search-icon {
  display: none;
  @media screen and (max-width: $max-width) {
    display: block;
    order: 3;
    width: 20px;
    height: 20px;
    cursor: pointer;

    svg {
      width: 100%;
      height: 100%;
    }
  }
  @media screen and (max-width: 550px) {
    display: block;
    order: 3;
    width: 35px;
    height: 20px;
    cursor: pointer;

    svg {
      width: 100%;
      height: 100%;
    }
  }
}

.search-bar-small {
  display: none;
  @media screen and (max-width: $max-width) {
    display: flex;
    align-items: center;
    order: 3;
    width: 100%;
    height: 20px;
    padding: 0 20px;

    input {
      font-size: 15px;
      width: 100%;
      height: 35px;
      border-radius: 10px;
      border: none;
      outline: none;
      padding-left: 10px;
    }
    ::placeholder {
      font-size: 15px;
      color: $placeholder-color;
      font-weight: 500;
    }
  }
}
