@import '../../index';
.new {
  color: #fff;
  background-color: rgb(0, 25, 53);
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width:988px) {
    padding:2rem ;
  }
}
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  a {
    color: inherit;
  }
  div {
    cursor: pointer;
    &:hover > * {
      transform: scale(1.1);
    }
    div {
      width: 6.8rem;
      height: 6.8rem;
      border-radius: 50%;
      margin-bottom: 0.3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      color: rgb(0, 25, 53);
      font-size: 2.4rem;
      &:hover > * {
        animation-name: rotate;
        animation-duration: 0.8s;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
      }
    }
    span {
      font-size: 1.6rem;
      font-weight: 300;
      display: block;
      text-align: center;
    }
  }
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  cursor: pointer;
}

.text {
  margin-right: 1.4rem;
  div {
    background-color: rgb(255, 255, 255);
  }
}
.photo {
  margin-right: 1.4rem;
  div {
    background-color: rgb(255, 73, 47);
  }
}
.quote {
    margin-right: 1.4rem;

  div {
    background-color: rgb(255, 138, 0);
  }
}
.link {
    margin-right: 1.4rem;

  div {
    background-color: rgb(0, 207, 53);
  }
}
.chat {
    margin-right: 1.4rem;

  div {
    background-color: rgb(0, 184, 255);
  }
}
.audio {
    margin-right: 1.4rem;

  div {
    background-color: rgb(124, 92, 255);
  }
}
.video {
  div {
    background-color: rgb(255, 98, 206);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  33% {
    transform: rotate(25deg);
  }
  66% {
    transform: rotate(25deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
