@import '../../scss/style.scss';

.bodyForget {
    @include dimensions(100%, 0);
    @include flex_box(0, center, 0);
    min-height: 100vh;
    background-size: cover;
    background: #001935;

    .container {
        @include font(0, #fff, 0);
        @include dimensions(302px, 0);
        @include flex_box(center, center, column);
        text-align: center;
        margin: auto;
        
        a {
            color: #fff;
        }

        h2 {
            @include dimensions(100%, 0);
            @include font(70px, 0, bold);
            margin: 0 0 4px 0;
            padding: 0 5px;
        }

        form {
            @include dimensions(100%, 0);

            input[type='email'] {
                @include dimensions(100%, 46px);
                @include font(0, #000, 0);
                @include input-default;
                text-align: start;
                padding: 11px 13px;
                margin-bottom: 10px;
            }

            .recaptcha {
                margin-bottom: 10px;
            }

            .nav1 , button {
                @include dimensions(28%, 45px);
                @include font(15px, #fff, 700);
                @include btn-default;
                padding: 0 19px;
                background: rgba(0, 0, 0, 0.33);
            }

            .nav1 , .buttons {
                @include flex_box(space-between, center, 0);
            }

            .reset , input[type='submit'] {
                @include dimensions(53%, 45px);
                @include font(15px, #fff, 700);
                @include btn-default;
                padding: 0 19px;
                background: #ff492f;
            }

            p {
                @include dimensions(100%, 0);
                @include font(14px, 0, 0);
                padding: 14px 15px;
                background: rgba(0, 0, 0, 0.33);
                margin-bottom: 10px;
            }
        }

        #confirmation {
            p {
                @include dimensions(100%, 0);
                @include font(14px, 0, 0);
                padding: 14px 15px;
                background: rgba(0, 0, 0, 0.33);
                margin-bottom: 10px;
            }

            .nav2 , button {
                @include dimensions(100%, 45px);
                @include font(15px, #fff, 700);
                @include btn-default;
                padding: 0 16px;
                background: rgba(0, 0, 0, 0.33);
            }
        }
    }
}

@media (max-width: 300px) {

    .bodyForget .container {
        @include dimensions(100vw, 0);
        padding: 5px;

        h2 {
            @include font(23vw, 0, 0);
        }

        form {


            input[type='email'] {
                @include font(5vw, 0, 0);
            }

            input[type='submit'] {
                @include font(5vw, 0, 0);
                padding: 0;
            }

            .recaptcha {
                margin-bottom: 10px;
                transform: scale( 0.70);
                -webkit-transform: scale( 0.70);
                transform-origin: 0 0;
                -webkit-transform-origin: 0 0;
                margin: auto;
            }

            button {
                @include font(5vw, 0, 0);
                padding: 0;
            }

        }

        .confirmation {
            p {
                @include font(5vw, 0, 0);
            }
        }
    }
}
