.post {
  background-color: #fff;
  border-radius: 5px;
  padding:0 10px;
  position: relative;
  .header {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    .blogName {
      display: flex;
      align-items: center;
      justify-content: center;
      &>*{
        margin-right: 8px;
      }
      &>:nth-child(3){
        color: #333;
      }
      .avatar{
        width: 1.8rem;
        border-radius: 3px;
      }
      cursor: pointer;
      a {
        color: inherit;
      }
    }
    .icon {
      cursor: pointer;
    }
  }

  .content {
    .chat{
      margin-bottom: 0.6rem;
    }
    .title{
      font-size: 2.2rem;
    }
    .ul {
      list-style-type: disc;
      margin-left: 1.4rem;
    }
    .ol{
      // list-style-type: decimal;
      list-style-type: disc;
      margin-left: 1.4rem;
    }
    .tag{
      display: inline-block;
      padding:4px;
      color: #555;
    }
    .text{
      margin-bottom: 0.6rem;
    }
    .chat{
      font-family: monospace;
    }
    .link {
      margin-bottom: 1rem;
      a {
        display: block;
        padding: 0.8rem;
        border: 1px solid #ccc;
        border-radius: 10px;
        color: black;
        margin-bottom: 0.5rem;
        h3{
          font-size: 1rem;
          font-weight: 500;
        }
        p{
          color: #555;
        }
      }
    }
    .image{
      margin-bottom: 1rem;
    }
    .audio{
      margin-bottom: 1rem;
      audio{
        display: block;
      }
    }
    .video{
      margin-bottom: 1rem;
    }
  }

  .footer {
    padding: 10px 0;  
    color:rgb(89,89,89);
    display: flex;
    justify-content: space-between;
    .notes {
      cursor: pointer;
    }
    .icons {
      display: flex;
      align-items: center;
      &>*{
        cursor: pointer;
      }
      &>*:not(:last-child){
        margin-right: 16px;
      }
    }
  }
  b {
    font-weight: bold;
  }
  h1 {
    font-size: 1.8rem;
  }
  h2 {
    font-size: 1.4rem;
  }
  q {
    font-family: serif;
    display: block;
    margin-bottom: 0.6rem;
    font-size: 2.2rem;
    font-weight: 500;
  }
  blockquote{
    border-left: 2px solid #ccc;
    padding-left: 1rem;
  }
  .br{
    height: 5px;
    width: 100%;
    border-top: 2px solid #eee;
    margin-top: 5px;
  }
}
