@import '../../../index.scss';
.red {
  background-color: red;
}
.form {
  display: flex;
  flex-direction: column;

  .title {
    outline: none;
    border: none;
    margin-bottom: 1.2rem;
    font-size: 4rem;
  }
  .tags {
    outline: none;
    border: none;
    margin-bottom: 1rem;
    font-size: 1.4rem;
  }
  .actions {
    border-top: 1px solid rgb(233, 232, 232);
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
