@import '../../../index.scss';

.form {
  display: flex;
  flex-direction: column;
  input {
    outline: none;
    border: none;
  }
  input:first-child {
    margin-bottom: 1.2rem;
    font-size: 4rem;
  }
  input:nth-child(2) {
    margin-bottom: 5rem;
    font-size: 1.6rem;
  }
  input:nth-child(3) {
    margin-bottom: 1rem;
    font-size: 1.4rem;
  }
  .actions {
    border-top: 1px solid rgb(233, 232, 232);
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
