.LikesContainer{
    box-sizing: border-box;
    display: flex;
    margin: 40px auto 0;
    max-width: 990px;
    padding: 0 8px;
    width: 100%;
    padding-top: 30px;
}
@media (max-width : 990px ) {
    .LikesContainer{
        align-items: center;
    }    
}