.explore-aside {
  width: 25%;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  font-family: sans-serif;
  margin: 15px 15px;

  .show-more-tags {
    margin: 20px auto;
    width: fit-content;
    cursor: pointer;
    color: rgb(0, 184, 255);
    &:hover {
      text-decoration: underline;
    }
  }
  .following-list,
  .check-out-blogs {
    min-width: 304px;
    border-radius: 4px;
    margin-bottom: 15px;
    width: 70%;
    background-color: #e5e3e31f;
    color: white;

    .header {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid white;
      padding: 10px;
      .edit-button {
        color: rgb(0, 184, 255);
        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
    ul {
      border-bottom: 1px solid white;
      padding: 10px;
      li {
        cursor: pointer;
        height: 70px;
        display: flex;
        height: 64px;
        align-items: center;
        & > :first-child {
          width: 64px;
          margin-right: 20px;
        }
        & > :nth-child(2) {
          font-size: 14px;
          width: 50%;
          display: flex;
          flex-direction: column;
          align-content: space-between;

          white-space: nowrap;
          & > :first-child {
            font-weight: bold;
            margin-bottom: 10px;
          }
          & > :nth-child(2) {
            color: gray;
          }
        }
        &:hover {
          background-color: #ffffff1c;
        }
        img {
          width: 100%;
          height: 100%;
          border-radius: 5px;
        }
      }
    }
  }
  .check-out-blogs {
    ul {
      li {
        position: relative;
        padding: 10px;
        margin-bottom: 15px;
        height: 37px;
        & > :first-child {
          width: 37px;
          margin-right: 15px;
          height: 100%;
        }
        & > :nth-child(3) {
          color: rgb(0, 184, 255);
          margin-left: 30px;
          &:hover {
            text-decoration: underline;
          }
        }
        &:hover {
          &::after {
            opacity: 1;
          }
        }
        &::after {
          content: "x";
          position: absolute;
          right: -25px;
          top: 18px;
          color: gray;
          font-family: "Rubik";
          opacity: 0;
        }
      }
    }
  }
}

/* // Medium devices (tablets, 768px and up)768 */
@media (max-width: 990px) {
  .explore-aside {
    display: none;
  }
}
/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1200) {
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
