.explore-section {
  width: 66%;
  border-right: 1px solid white;
  height: 1000px;
  margin-right: 10px;
  padding-right: 20px;
}

.explore-navbar {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid white;
  align-items: center;
}

.grid-icons {
  color: white;
  cursor: pointer;
  margin-left: 5px;
}

rect {
  background-color: white;
}

.explore-selection {
  display: flex;
  color: white;
  font-size: 1.7rem;
  font-weight: 700;
  font-family: sans-serif;

  span {
    padding: 12px;
    cursor: pointer;
    display: block;
    z-index: 10;
    &:hover {
      background-color: #e5e3e32e;
    }
  }
}

.suggestion-list {
  /* background-color: red; */
  overflow-x: scroll;
  display: flex;
  position: relative;
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    width: 0;
    background-color: transparent;
  }
}
.suggestion-card {
  width: 140px;
  margin: 12px;
  flex-shrink: 0;
  display: flex;
  background-color: rgb(200, 131, 41);
  border-radius: 4px;
  flex-direction: column;
  justify-content: space-evenly;
  height: 211px;
  button {
    height: 30px;
    outline: none;
    background-color: white;
    border: none;
    width: calc(100% - 10px);
    border-radius: 4px;
    color: orange;
    font-size: 15px;
    font-family: sans-serif;
    margin: 0 auto;
  }
  img {
    margin-left: 5px;
    width: calc((100% - 15px) / 2);
    border-radius: 4px;
  }
  .card-imgs-container{
    display: flex;
    height: 100px;
  }
  div{
    font-size: 12px;
    color :white ; 
  }
}
