.notes {
  background-color: #fff;
  position: fixed;
  left:28%;
  top:18%;
  width:20rem;
  border-radius: 5px;
  border : 1px solid #eee;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.006);
  .header {
    padding: 1rem;
  }
  .content {
    padding: 1rem;
    background-color: #EDEDED;
    min-height: 25rem;
  }
  .footer {
    padding: 1rem;
  }
}
.close{
  display: none;
}